.table-con{
    width: 100%;
}

.table-con th{
    
    background: #e26d6d;
    color: #fff;
    height: 40px;
    border: 0;
}

.table-con td{
    text-align: center;
    word-wrap: break-word;
    word-break: break-all;
    border: 0;
    height: 40px;
}

.table-con tbody tr{
    transition: .2s;
    border-bottom: 1px solid #eee;
}

.table-con tbody tr:hover{
    background: #f9f9f9
}

.table-con tbody tr td:nth-child(2),.table-con tbody tr td:nth-child(5){
    text-align: left;
}

.table-con .tag-wrap{
    line-height: inherit;
    padding: 3px 12px;
    margin: 3px;
}

.table-con .article-tag{
    margin: 3px;
}

.admin-container{
    position: relative;
    z-index: 1;
    background: #fff;
}

.admin-container .main{
    width: 98%;
    padding-top: 1rem;
}

.admin-title{
    margin: 1rem 0;
    letter-spacing: .6px;
    color: rgba(0,0,0,.5);
    font-size: 1.25rem;
}

.admin-container .edit-input{
    border: 1px solid #eee;
    padding: 15px 10px;
    border-radius: 5px;
    resize: none;
}

.admin-container .edit-input:focus{
    border-color: #e26d6d
}

.checkbox{
    position: absolute;
    clip: rect(0,0,0,0)
}

.checkbox+.article-tag{
    position: relative;
    transition: .2s;
}

.checkbox:checked+.article-tag{
    border: 1px solid #e26d6d;
    color: #e26d6d;
}

.checkbox:checked+.article-tag:after{
    content: '√';
    display: inline-block;
    margin-left: 5px;
    font-size: small;
    transform: rotate(10deg)
}

.article-tag-loading{
    opacity: 0.6;
    pointer-events: none;
}

.admin-content{
    padding-bottom: 1.5rem;
}

.admin-add-button{
    cursor: pointer;
    margin-bottom: 1.5rem;
    display: inline-block;
    padding: 3px 6px;
    color: #e26d6d;
    border-radius: 4px;
    border: 1px solid #e26d6d;
    transition: .2s;
    font-size: .85rem;
}

.admin-add-button:hover{
    background: #e26d6d;
    color: #fff;
}

